<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->
	<!-- <bean id="studentDao" class="dao.impl.StudentDaoImpl">
		 <constructor-arg ref="studentDao"/>
	</bean> -->
	<bean id="studentService" class="Bussiness.StudentService">
		
	</bean> 

	<!--<bean id="managerBean" class="Bussiness.Manager" autowire="constructor">	
	 <constructor-arg ref="studentDao"/>	
	</bean> -->
	 <bean id="managerBean" class="Bussiness.Manager" autowire="constructor">
	  <constructor-arg ref="studentService"/>	
	</bean> 

</beans>